---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  chartRef:
    kind: OCIRepository
    name: volsync
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image: &image
      repository: quay.io/backube/volsync
      tag: 0.14.0@sha256:c674dcebb2f9458b75c803623801916b64098a1a490ac255da467ef4f0f0dfdd
    restic:
      <<: *image
    kube-rbac-proxy:
      repository: quay.io/brancz/kube-rbac-proxy
      tag: v0.19.1@sha256:9f21034731c7c3228611b9d40807f3230ce8ed2b286b913bf2d1e760d8d866fc
    manageCRDs: true
    metrics:
      disableAuth: true
