---
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: amd
spec:
  version: "leap-15.6-standard-amd64-generic-v3.7.2-k3s-v1.35.0-k3s3"
  serviceAccountName: system-upgrade
  concurrency: 1
  cordon: false
  drain:
    force: false
    disableEviction: true
  nodeSelector:
    matchLabels:
      kubernetes.io/arch: amd64
  upgrade:
    image: quay.io/kairos/opensuse
    command:
      - /usr/sbin/suc-upgrade
