apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sops-secrets-operator
spec:
  chart:
    spec:
      chart: sops-secrets-operator
      version: 0.25.0
      sourceRef:
        kind: HelmRepository
        name: sops-secrets-operator
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: docker.io/isindir/sops-secrets-operator
      tag: 0.17.1@sha256:e5a7efd636e833f6e9e546fa4544d650dc3492e08af2f7fef3862728ab2cf9c8
    secretsAsFiles:
      - name: age
        mountPath: /etc/age
        secretName: sops-age
    extraEnv:
      - name: SOPS_AGE_KEY_FILE
        value: /etc/age/age.agekey
