---
## REF: https://github.com/billimek/k8s-gitops/blob/2d48e3ba92d984e21e5c2267d10d48e867898e0b/default/blocky/blocky.yaml
## REF: https://github.com/jr0dd/home-ops/blob/main/cluster/apps/networking/blocky/helm-release.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      blocky:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.28.2@sha256:5f84a54e4ee950c4ab21db905b7497476ece2f4e1a376d23ab8c4855cabddcba
            env:
              TZ: America/Chicago
            # resources:
            #   requests:
            #     cpu: 10m
            #     memory: 50Mi
            #   limits:
            #     memory: 750Mi
      cache:
        containers:
          server:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.4.0@sha256:8ee66466e64f002d69f05c3b61d1cc13f1c310d855a3952b532f798884fac9f6
            command: redis-server
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 100Mi
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64
    service:
      app:
        controller: *app
        ports:
          http:
            port: 4000
      dns:
        controller: *app
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.io/loadBalancerIPs: ${BLOCKY_IP_ADDRESS}
        ports:
          http:
            port: 4000
            protocol: TCP
          tcp:
            port: 53
            protocol: TCP
          udp:
            port: 53
            protocol: UDP
      cache:
        controller: cache
        ports:
          http:
            port: 6379
    serviceMonitor:
      main:
        enabled: true
        serviceName: blocky-app
        # selector:
        #   matchLabels:
        #     app.kubernetes.io/name: *app
        # labels:
        #   release: kube-prometheus-stack #idk why this is required
        endpoints:
          - interval: 30s
            path: /metrics
            port: http
            scrapeTimeout: 10s
    persistence:
      config:
        enabled: true
        type: configMap
        name: blocky
        advancedMounts:
          blocky:
            app:
              - path: /app/config.yml
                subPath: config.yaml
