---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-gpu
spec:
  chartRef:
    kind: OCIRepository
    name: intel-device-plugins-gpu
  interval: 1h
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    nodeFeatureRule: false
    name: intel-device-plugins-gpu
    sharedDevNum: 10
    resourceManager: false
