---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      calibre:
        type: statefulset
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/calibre
              tag: 8.14.0@sha256:0061aa725d1978ef167f085b84a4b4ce53507f37e49056ef898ea84478415284
            env:
              CALIBRE_OVERRIDE_DATABASE_PATH: /config/metadata.db
              TZ: America/Chicago
              PUID: 568
              PGID: 568
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${node}
    service:
      app:
        controller: *app
        ports:
          http:
            primary: true
            port: &http-port 8080
          webserver:
            enabled: true
            port: &ws-port 8081
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *http-port
      webserver-internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}-webserver.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *ws-port
    persistence:
      config:
        suffix: config
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
      books:
        enabled: true
        existingClaim: nfs-data
        advancedMounts:
          calibre:
            app:
              - path: /books
                subPath: media/books
