---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      calibre:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: v4.6.0@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
            env:
              # CALIBRE_OVERRIDE_DATABASE_PATH: /config/metadata.db
              TZ: America/Chicago
              PUID: ${VOLSYNC_PUID}
              PGID: ${VOLSYNC_PGID}
              CACHE_DIR: /cache
              CWA_WATCH_MODE: poll
              # NETWORK_SHARE_MODE: "true"
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: "1"
              S6_READ_ONLY_ROOT: "1"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: &port 8083
                    path: /login
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: *port
                    path: /
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop: [ ALL ]
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: ${VOLSYNC_PUID}
        fsGroup: ${VOLSYNC_PGID}
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          calibre:
            app:
              - path: /config
                subPath: config
            matter-server:
              - path: /calibre-library
                subPath: library
      data:
        enabled: true
        existingClaim: nfs-data
        advancedMounts:
          calibre:
            app:
              - path: /cwa-book-ingest
                subPath: media/books/import
              - path: /books
                subPath: media/books/library
              - path: /temp-in
                subPath: media/books/Library
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /cache
