---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ersatztv
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      ersatztv:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/ersatztv/ersatztv
              tag: v26.2.0@sha256:b46b2344c11bc67bdd39f320acf1c3bd36bfd77b9ddf250a3884ede9cb1090d5
            env:
              TZ: America/Chicago
              XDG_DATA_HOME: /config ## https://features.ersatztv.org/posts/4/allow-docker-to-run-as-non-root-user
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              # claims:
              #   - name: gpu
              requests:
                cpu: 10m
              # limits:
              #   memory: 4G
    defaultPodOptions:
      # nodeSelector:
      #   kubernetes.io/hostname: ${NODE}
      # resourceClaims:
      #   - name: gpu
      #     resourceClaimName: ersatztv
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8409
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        type: emptyDir
      # config:
      #   existingClaim: "{{ .Release.Name }}"
      data:
        enabled: true
        existingClaim: nfs-data
        advancedMounts:
          ersatztv:
            app:
              - path: /media
                subPath: media
                readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          ersatztv:
            app:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: tmp
              - path: /transcode
                subPath: transcode
