---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app omada-controller
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      omada-controller:
        containers:
          app:
            image:
              repository: docker.io/mbentley/omada-controller
              tag: 5.15.24.19@sha256:050cc7f617887d66bf318a8be81b5460fa6f00cb871ed9533197c616c8baecc3
            env:
              TZ: America/Chicago
              SHOW_SERVER_LOGS: true
              SHOW_MONGODB_LOGS: true
            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            resources:
              requests:
                cpu: 500m
                memory: 1200Mi
              limits:
                memory: 2000Mi
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      hostNetwork: true #TODO
    service:
      app:
        controller: *app
        primary: true
        ports:
          http:
            port: &manage-https 8043
            protocol: TCP
      controller:
        controller: *app
        type: LoadBalancer
        annotations: 
          metallb.io/loadBalancerIPs: ${OMADA_IP_ADDRESS}
        externalTrafficPolicy: Local
        ports:
          # Docs: https://www.tp-link.com/us/support/faq/3281/
          # Management Ports
          mgmt-http:
            port: 8088
            protocol: TCP
          mgmt-https:
            port: *manage-https
            protocol: TCP
          # portal-http:
          #   port: 8888
          #   protocol: TCP
          portal-https:
            port: 8843
            protocol: TCP
          # Device Discovery, Adoption, Management, and Upgrade
          optical-line-terminal:
            port: 19810
            protocol: UDP
          eap-v5-discovery:
            port: 29810
            protocol: UDP
          eap-v4-discovery1:
            port: 29811
            protocol: TCP
          eap-v4-discovery2:
            port: 29812
            protocol: TCP
          eap-v4-upgrade:
            port: 29813
            protocol: TCP
          eap-v5-manage:
            port: 29814
            protocol: TCP
          eap-v5-device-info:
            port: 29815
            protocol: TCP
          eap-v5-remote-control:
            port: 29816
            protocol: TCP
          init-check:
            port: 27001
            protocol: UDP
          old-init-info:
            port: 27002
            protocol: TCP
          old-db-access:
            port: 27017
            protocol: TCP
          db-access:
            port: 27217
            protocol: TCP
    # TODO config for reverse proxy, http -> https
    # route:
    #   main:
    #     enabled: true
    #     kind: HTTPRoute
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: networking
    #     hostnames:
    #       - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
    #     rules:
    #       - backendRefs:
    #         - name: *app
    #           port: *manage-https
    persistence:
      data:
        &persist
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /opt/tplink/EAPController/data
      logs:
        <<: *persist
        globalMounts:
          - path: /opt/tplink/EAPController/logs
      backup:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /opt/tplink/EAPController/data/autobackup
