---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      qbittorrent:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              QBITTORRENT__PORT: &port 8080
              QBT_Preferences__WebUI__AlternativeUIEnabled: true
              QBT_Preferences__WebUI__RootFolder: /addons/VueTorrent
              QBT_BitTorrent__Session__DefaultSavePath: &path '/data/torrents'
              QBT_BitTorrent__Session__DisableAutoTMMByDefault: 'false'
              QBT_BitTorrent__Session__GlobalMaxRatio: '2'
              TZ: America/Chicago
          vuetorrent:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece
            args:
              - --repo=https://github.com/VueTorrent/VueTorrent
              - --ref=latest-release
              - --period=24h
              - --root=/addons
            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 50Mi
    defaultPodOptions:
      annotations:
        setGateway: "true"
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      securityContext:
        # runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        # seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      data:
        enabled: true
        existingClaim: nfs-data
        advancedMounts:
          qbittorrent:
            app:
              - path: *path
                subPath: torrents
      addons:
        type: emptyDir
        globalMounts:
          - path: /addons
