---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: cert-manager
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: quay.io/jetstack/cert-manager-controller
      tag: v1.19.3@sha256:a07125af5e83ecaa3f48317e79c8fae08f0a36654cec45bf0a3404f651b00387
    installCRDs: true
    webhook:
      image:
        repository: quay.io/jetstack/cert-manager-webhook
        tag: v1.19.3@sha256:2625754083d5e2d682a4582fd3fab41a0aa79e7c732c90491373c4f3be5e65b7
    cainjector:
      image:
        repository: quay.io/jetstack/cert-manager-cainjector
        tag: v1.19.3@sha256:eb1df56668b6e61bd902febe816568e7e47f47276121bc0e1222890871c61e50
    extraArgs:
      - --enable-gateway-api
    dns01RecursiveNameservers: 1.1.1.1:53,9.9.9.9:53
    dns01RecursiveNameserversOnly: true
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - "1.1.1.1"
        - "9.9.9.9"
    prometheus:
      enabled: false
