---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pod-gateway
spec:
  chart:
    spec:
      chart: pod-gateway
      version: 6.6.1
      sourceRef:
        kind: HelmRepository
        name: angelnu
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2
    addons:
      netshoot:
        enabled: true
        image:
          repository: ghcr.io/nicolaka/netshoot
          tag: v0.15@sha256:47b907d662d139d1e2f22bfe14f4efca1e3f1feed283572f47c970c780c03b61 
      vpn:
        enabled: true
        type: gluetun
        gluetun:
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
        env:
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: &if wg0
          - name: DOT
            value: "off"
          - name: UPDATER_PERIOD
            value: 24h
        envFrom:
          - secretRef:
              name: gluetun
        # lifecycle:
        #   postStart:
        #     exec:
        #       command:
        #         - /bin/sh
        #         - -c
        #         - (ip rule del table 51820; ip -6 rule del table 51820) || true
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - 'eval "$LIVENESS_PROBE"'
          initialDelaySeconds: 30
          periodSeconds: 60
          failureThreshold: 3
          timeoutSeconds: 5
        securityContext:
          privileged: true
        networkPolicy:
          enabled: true
          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                - port: &port 51820
                  protocol: UDP
            - to:
                - ipBlock:
                    cidr: 10.42.0.0/16
    routed_namespaces: 
      - download
      - media
    settings:
      VPN_INTERFACE: *if
      VPN_TRAFFIC_PORT: *port
      VPN_BLOCK_OTHER_TRAFFIC: "true"
      VPN_LOCAL_CIDRS: "10.42.0.0/16 10.43.0.0/16"
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.42.0.0/16 10.43.0.0/16"
      DNS_LOCAL_CIDRS: "local"
      IPTABLES_NFT: "no"
    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed
      gatewayDefault: false
