apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:cdBrdjrpXQ==,iv:dloQ1ZDX2WtQUfNkjEVMpY8PoplBWEzcpF4DHL5uePw=,tag:+ZVmMB4PdMdwo/VlVejTqQ==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:qFWzKvMXuQ==,iv:fSuZMOPgqgLFJ4jEihDDXBtxLoK7FhOfvSxRRMBLGz0=,tag:RO0Tfrp/5yuZ29d1xZNHIw==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:7XIjt0tALlwvKw==,iv:uncPvKfDI+yJFk5MAVTu4mosFWHm8LkkzcqniqFkPN4=,tag:tbFUp5JAoX0g1jQLs14HvA==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:08nSg5WWMe8hAj4=,iv:cbRCjxxB3Dwc13X+UJNkStVuR72a42WAOt2KCV78jnY=,tag:v819jv3tZk3CT6Lq4CtTBw==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:UxjFF0+vqtleJdeqM5wB0zKAMczSR471zOZJOKsOQeqIAnVXhlwBqAHuFx0=,iv:xFqribweAsLhziR3TKSzyCak5jrCJa42UkcUyBKCMCw=,tag:qdbh3LL9auQUZIyOBPLwpQ==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:59r9Ioh4tyvY4/KJgn/ooQ==,iv:gxmvFqWAbhCWCWYOrR4G6CpD3Z3yLAjjHRknk/apMNk=,tag:ZObkuxaA7gMO2Jwwmu4isQ==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUUEZJUmRhMk1xUWxaNkd0
            Q0l4MGtDUUgvN2VsbHRkcWt0ejM1MEdrMEd3CjZDT2FzYzdFZUlSenV0ZmRJZGtY
            ZFc2T1NhNHdwUXJNWjNOZjcraUNyR1kKLS0tIGlmSXREQStrTWFSZ3FGSHdaZzgx
            dkJCWE9SZFV1SHJ4ZWpuVWI4d2lPRm8KMhNk/GKcOJ/Q2/lmdna+kuaRtQntZRIh
            llEgPUdN49gXgXxGn91KgClz3NwyQCo4j4GUNOcuc5ckWpCbb1UpFA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-01T00:11:17Z"
    mac: ENC[AES256_GCM,data:ShOk+/29kTsNUCtGn+qLoGQOOI/WzXXCqlGFQLcGse2zpvJWIV5V5y140jYgYXzWvq0Yz//3RgJ9w7nk+nzbASVIJjKsND1dHlz6UBVHATMaDhexdPAjGVLVRg7eVcaPY6FmXN8/B8UPl7nPgezECe5MtmcdM/U5MflVAQfXeKc=,iv:KsQJ6L02X59BzvWXoJ5aDexIUx5+TNahUqORHGfKZ8M=,tag:02PdGq9qq860fpvOsESrYQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
