apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:ef/m/d/KjA==,iv:Yjw1xS9tS4McWWrgIxRfRiZlsZmTQ3HiNxBzeeXa0a4=,tag:uPGF2tohGrcZa4GCb1ZPFw==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:v8dWZ97WtQ==,iv:FARVBbw2LB9jHmoG4axBSuPWI//XY8K0+20yumETSiQ=,tag:ij2DWNP5q9ff0tJ8ZpILgg==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:KC6Rzl6nQHOD8ZS2IksagiHRK2Ev,iv:814S+k6gp3v651I/La2s0rlalbilS1L2ILpXpeIWwHs=,tag:UkDKpsrP4zaQzJOBgV1VaQ==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:AX9Vnc6Ac1QSm/U=,iv:Td7s67SirehJ6VXHZm84WiByE6WOu/rVKH7czF2M8M8=,tag:cIV8nZBBiPOmbirFk0z8zQ==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:qqlEtUfDhmemmtNlVr9ycykzg+09d2+Ue+zDcvpcwwzIJaYe14y4yuHM9sA=,iv:BKifsLjR42keFdUc0CIDP4/n73rqVCuLDVCNYRAhKTY=,tag:6XfV8fGPgXptLZQ//kxOwQ==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:ZizAZvATo9ABSwQvdOySuw==,iv:LKu4DCPfnzc80iG2FkKtlxWeOtX1VMmeA1DLRSZlHKg=,tag:NFKi9wpH6OO+ALqUqFsDKg==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvRGhId3VZdkI0Qit4Z29R
            RWdROEVqRklqOUl6RGlnNCtaUTMvMDN1UENZCjBZeDZpUDhwbHhpdGI3NG5ZWUM0
            VDkxTVQveTFCVkFyT0RzRElwNTRwUm8KLS0tIENSMGNqYloyWTVwUEVkck1zSElJ
            NHBsa3oyblYrVnczaUhvTGMvVkU0eHMKe8DHTuR4ShPE9xKhq0h5mt72bWXbRAUv
            2JzI9RW8qbSzQiqZBtRdkOMWWAGkYfqPqU2ArLmWyIH3vCZiyFQFMg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-28T03:27:40Z"
    mac: ENC[AES256_GCM,data:fw8xAgrkU+GcxTFPUJNuCSXA+HAstmEpCpftK7uEK+3n1DapLO4u/OEY1tl63B+OlWyVk0XW8MvcsPzl+c78U5e1b93SVzSB1pMusdotY9OOOmXqoRZyREhhP9vB8A2iBk2s9k6Je2uYPbHUu3hPj3s63tjFMw7EgQqE6B8ybec=,iv:VT4aq4tw8tpuoxHgHb+AGfC0wSp8Kf3ZnrE0EUl3Qxs=,tag:qid+w+Vvu5q88N7BQ7vZ6A==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
