apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:gCeQ1Lm4tQ==,iv:fLhOhc3oN5Zb99bGaP5TYtUZ2b2mVHtxFdhwYQu2XZ4=,tag:2I051iS+5qv5VFhQWAVMgA==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:tn5IDoS2BQ==,iv:1sSNlg+iAhfgKqywEehEkd8pKfxJBg+lYSPQvbXyMFU=,tag:+hvSNk4Ki1O5ulGR8S89Hg==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:nV52cifOhiBmcw==,iv:8GG2SQIPQP6MXyO2pi4B/jGfPb4EYOg0YkSo4TUbnx4=,tag:pQ3jq1UJ7+cEYAm8xiKuAw==,type:str]
            SERVER_HOSTNAMES: ENC[AES256_GCM,data:IE5k2ZXA65rR6P2Kmcbcuo5ZtiEeKPLj9TTD,iv:eRCcjb93Pz5SPs3KeCofOrKgkMYe9sHtLuIev4cb2j4=,tag:BLTQYL7pHuUqeKQHWJhRsg==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:xShYAhlUPiZHYw8=,iv:PFBhdLGsb8sjrDxoaMC4r0/RjWXjluvg4KbgUT+lB9s=,tag:tdmhyl1sxfNfrO/7+Wj5Xw==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:S2AdnCoeh8NDhmg9kPJtULd6lSzd34LBoOrMUKuOBX1bNZkwSMxF+LNzRfM=,iv:THJOdkxJBj8U8v36zQ5yIZI1azzP+2/1P/5KkAJzdik=,tag:WINb3AXbBZukJhIMRuOMfw==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:QzFvE4NoOIxiSUAiiWT6cg==,iv:ISJCT6D85USrpr5unHpwztklNNRnz5/Xlk5dzmYi74w=,tag:pi4jJWzvsE6wxy75d8/NaA==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBObGFERW8vaDNTSkFTeVpm
            NlJybEtwb3pqY3dRdUkwdmxuclAzOVdxcUVnClZxc2c0ZGkvVjFqaG5UNDhDMXlD
            SmlQQzdVZkpQWHlCdGdtMnhEK24xUmsKLS0tIGtLWkxyZHpNQm9nenZud20wRXR3
            bUNib0w2QnY1VWd2WFpoc3NWckJValEKb4UIhz0HyB788GzjutLKoGK1HcI+ppBG
            5dg3Ei+APvrldjJZiQVzuE4WhsJQGaH0leym9jvn3O/W6wAQGJ1yCQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T22:56:47Z"
    mac: ENC[AES256_GCM,data:Lf2Zn8a5y3XAl+AGZQ2r9j9x2AcUNSCiJzDAFN/U+DohH5jEdHseWVxtAESX8AiN5nvASprVItjJi1Lstl8Im5SO6ll0F8/pOPZ9WnzdrPJJJYJ3ZStawJsvyJlAlSqILRktIfj9zfjOK+9+eBztT6msKRaR+L0qpkOsOHba9Mw=,iv:baP43aMC1hIpr/ccl2PSleUF5XqBhJ10OjJeYfQeiko=,tag:LLRoi+v+VbmULzN2+jk9dg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
