apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:Ttd7QQZChQ==,iv:K1upczG5Ommb1yOYjw/XiTru2PBTStEuooxMTWQQ+lg=,tag:FToo4+QWGVUjTUssoDamRg==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:9Y9B/ZRFvQ==,iv:PpASQ7XoaArK1pDsWwoz3po/V/8ujMSx5sR6374lDBM=,tag:yNFi99R1YpOmNSuvVRDa2g==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:YgK27VOuHi5xmw==,iv:2Pugu5Vl2HXJASpnP7BMuIQiPSs6N/nSDlDMe/lOKJE=,tag:Oi4GurWOohYhvTxrSUQ0ng==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:W3cTelRQWA6HC8U=,iv:zNGd9ucY7AxeTiE1pMkESe6jrhEM+pQMrKNiTMBS6B0=,tag:IJoco7JkbZ0Ytv6gTZO55Q==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:exW0oZzQ3eZR540tc6BJhyb7SBihQ/gRuHm86eIYH3JeVW8vQVSB8664OdA=,iv:tXFAhfoEKmZI0b7K+oYeMbFQ+Dfwq53CNb5nqi82qVk=,tag:Hdf0yEh9tbiVDc2uNOnTLQ==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:xzV7GO/YDheTnWyIiVjUXg==,iv:PPlnR0ntUhJVBfAQ6z7YiGw9xp9NG0wN3MURk6MP2AU=,tag:EZa61ExBkpdbSlyFchNfDg==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBUnFPRytrRVpRNTlSNU1h
            ZHB1SjVJQi9zUUI3WE5mdG5wdmFscFIzTmhnCjI3TVhsbTdBTy9DMzZDdE9WYXFs
            VlhLZ2E3T0pONnJJRjdMOUZ5aTRWYmMKLS0tIG4zenA3MHQ5b0prOTU2Y1hsWFhF
            dm1RQWZJQVo0WG5xRjVBakVzK1d2bFEK4bgLNvuHjr6KKUJPpvG/7rGl4o9E5ulb
            H1QOWH2FvcFvqO3KAmlkhMq32h35mjHaNtE+hnzRx/QtTOyMImW6CA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-23T22:49:04Z"
    mac: ENC[AES256_GCM,data:rCWYzSH9JncfkeZo/FND5sVPkGrlB6D49jLOet3rmh9pZn1+tO6QdRtakjYo2OMYtFYUMFY91VjLRWUwKU823wUzZc6v1XYHcxIU2LjT8xRi+jlVFFsyS0V5rEaus+9A3rF32NCDDo0M0/+la9eGGpOKTohT21TInQTEL87ud2Q=,iv:lBS4qewsnxjFeFC7B4++F3WgqnHvcJayVnywQkFXMg0=,tag:vjCMtMjG5FD05y3SNAnruA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
