apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: gluetun
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:s6OSZjOWWQ==,iv:KRS37Nw5sgOFj+GxJ+yAAA7bsljd1M+g5ESF35qzmcw=,tag:V7FxjEainaVt4omqUFkwSg==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:bxuAKE6DFw==,iv:wPAPuUmhUHQgWoYqEXE/Tu4JJ0bb1rkcbTd1BWfKuNc=,tag:Pxg1a1OznDOju09U9GpoqQ==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:+mQ/ewnspI1/UCM=,iv:nj/Md0gtrXdfc+SxsEIsFNTsEAqPekG939LihY2fClI=,tag:uLFHXQ+lf04cYWLcbboAqg==,type:str]
            #ENC[AES256_GCM,data:iNxjjdkIMNv2AA/uq3zrvgEWkH7MqgJ0cA==,iv:1JpCE+dz4zWyZFPY+sRjKL3vSZyCer+SyZkdteaprlY=,tag:inBNapGBVO33W2GdUGOQqA==,type:comment]
            #ENC[AES256_GCM,data:wxUttbJiwfy82AKEjAStaxqsephdvV/bjwAmDKoSLw2x6/03U2/kHj0AW7sN,iv:vAsyFQ97ldiY3rnD12SOlaRGbvFhmRyPHYMbnq6wu2c=,tag:iI1ZfK/P1tkhNM6o4RcOfg==,type:comment]
            DEVICE_NAME: ENC[AES256_GCM,data:5a5BL0LxcGjMz6g=,iv:P5qmH+2TrvTRuHKi3LuMzKU822gWh9GAp4gQ8LXyFOs=,tag:OE7xw7shPItrqDPhVsHlcg==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:T/sJyafToLDAKUjS2l6aIlmYTkW/fqBJg9ZW/ZzIoLHtf17nM0yZU3ATWdg=,iv:mPmBAgjR0I5fJSjb2bltaM7HRvsNdg9gkJDWEWnTjRs=,tag:ncCrgFjNF+de/QUtHN/dOg==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:4K47EL0EQKqjx6jdsFxUCA==,iv:Oi8JNjBOKA1yLuZn6ewDUzSSFz7uj4g184B0GIK663U=,tag:agubHifPW3hW4xFIDwNFlQ==,type:str]
            LIVENESS_PROBE: ENC[AES256_GCM,data:5ky1lUxRXKruR+bYoCaVIYGHMwT1E1W7fRAkN81vMujPjsiVxAXskb1ZKAM0KhugN3u5QJeEPrS782CEZMTiNA7OwoNWgJMRy2XmfeZHnlW4VMNhBFsAI8yfjlC1xrrIARulKaVdE2iT/sNCEUg5xHD/cPk/04lUeGo=,iv:eBeQbg8gzmxCmtRodJ1rHAs4VeXtnYSfpFdE75w0vDE=,tag:4+Ph8SKQWkxn8SA/TpWKGg==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxK3M1MkJCTnhtRmdtOGNz
            Y25aMWdrd1loV3VKZ0RVemdhZDlWVG1yNUFFCndUYkFwNFJUbVZFeWwyZ0ttazdQ
            Tm9lSzB2TS9vbnpab3oxVDBmOE5JMzgKLS0tIDYzTW9TdFZpZlo1TzN3V0xuL2ky
            OU53cWpZQkw1a1RJZ2JiL2xKc2U3WDAKFyV9tP2uJKSGVT0cP5CtAc0i1lbu22/+
            RavSAhOAdg5cjll5lPQrDrX7fZvS21a3mGBmvGC21o3cD43Uz02pZA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-13T15:31:23Z"
    mac: ENC[AES256_GCM,data:+3cyiElASUgeUEkT7OdiVdUsFa0q+IIoYSS/B+76EfjeVK7wHA/tk/gov9yw6zY4uVOt5lr2LjJofzRVPFXrbhwT+IJPq6Lr611voCqa12FZCXh8pe+74Yp0nLZvhOOE5nnNM3sJxDNuw/yp6YPqCsi85tg9S1XBbQtEvLrNVB8=,iv:k+TdHZSKXKozJMSS34wJMW6oEOu8Qjkk7pD9K847X5k=,tag:BKE0LmI/S5t4DzPxVHsqyg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
