apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: gluetun
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:NPsFch2iig==,iv:VcT3q7nuItmCGXokLRbX1vo+F4uov0afR+JpGDMuya0=,tag:O9X41nVXbw2r7qa798RIxw==,type:str]
            UPDATER_VPN_SERVICE_PROVIDERS: ENC[AES256_GCM,data:ucNt8h1bGA==,iv:ImvamKdkoZA5dLQUfOnfg6i/o6TL3Ju5iicabRgQfuk=,tag:72Rb9wongedK1GcG+DNNiQ==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:018NHWp9u8J/lQ==,iv:KkkoMc9BdaeXom6t/+chVEOxc/YHhzdxFtCFTzknWio=,tag:P84WGQ7frhuRpLOTab8pdA==,type:str]
            SERVER_HOSTNAMES: ENC[AES256_GCM,data:W2lCcXa5rkNnUibB6aiM9aBhKsD0BVK1wZdj,iv:y29LY1G4PQd85f5E6OZI9B4AdW4bv1VJQFtR/TNxB5g=,tag:dtJlYhRQmTGBYpPHb7s/5A==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:tBF7evQi/Ndptfs=,iv:Hb7bVV4cBTm9I7eelB7xw5qrEbuoo4RcyCojhqpNiAM=,tag:9Vewrb2DgqXeWHgExvf13A==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:gpCjsLiKxVVxnOTnErbAMg+D/uUF97SeIs71S8Bm0ZIiXcKq1ZXAie7kiyE=,iv:aWEL/LkeBcSdrhsFyHKtsl2h2C/PonUy/RGYSw8Ly2A=,tag:iHa1HHX373g1fzIPQpVIKQ==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:lV/CqvDJBp5nLktggymNIA==,iv:K1RVBLVUkyUYEg8eKf/QHNF+RLhp0j3Plm4QeXxu5Tk=,tag:N1R3NXPiwLy8YazzE93XYQ==,type:str]
            LIVENESS_PROBE: ENC[AES256_GCM,data:LMlYc4jJaBG8gRxMepL1png4GX7TrfBJAzoDHrD3zmCoRrnlH8NmiJc9MHjy5qIKU4vBx263quImrT2Wc6m+0m72EObWc93RNxpSSAAzF3QsgS6ufUoQVGLM8J1DiWNyXm+aBpvgf5WVqOwaIWIoGLKMOZH8NQ9XJOY=,iv:cpWdHH7BK3g8+vIcxqyuhWRNtIXng8iKKQAQPRKB9+g=,tag:dVMs9e3Gxu2fV5o8n9nZqA==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBEbUZrY0xmUVJ4SWN6RG5R
            c0FxczREN3I3ajBtcFhnT3JMVGFJaGgyblc0Cjd3TzNrRHZnMFBJVkVRblRMRDNp
            U0haaUdIYkJtTEZCYjllQlV3ZkFGdGMKLS0tIFBoQlUzVUdQR2xNTlZmQk12WHVa
            K2YzMzNnc3pwKzU5NFpXRnU2elNOVzAKsKtBSXP2gfD9GRNs1ESH+fSNVo+zSKi1
            5uvIOVlXbTCppxKTVWTAvK9fiwuhqD9vYxkeSUER34dTnwET5nYXmw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-09T00:35:11Z"
    mac: ENC[AES256_GCM,data:Eqn42dGpbTU4HfGHA/aV5/8Gpgp9LQWCMr0mub4VTI/uircIwYCaFd3yEeblSAXTkNMVVffYcOR9FiL06Qh8bqTluMxQOswaGARtDWk/AulL0XCgL0JGk+/XB4BS9B64ThPrqwx7M8778UIDMh3xir7LBaySTc74wsxdd9dU3Uo=,iv:OPT0tP0YwkLvTFBF5bGRD4GRuAd0OVuRxRwR3uydTYI=,tag:0glefl55rPiLR+a2qCCUvg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
