apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:ClNMwZ+hwQ==,iv:dGCzIQgICACPfQcJJ+Hh799bF3Z0wMfxPFJSx31IdOw=,tag:vX+NXTkDxyg7F7PHWIgMXg==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:SfHa7N3lJlP9hw==,iv:KQduU74QsL6jSCMPepFo8RtUa0RjWXwQYetCtqopIOg=,tag:LdBR80pp6FxgUNPNajbA1w==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:HiWOJwFqzpiKc8s=,iv:lVGsw8OOtBFPY6+pwdAaDzcdhWcnk2eCwLvQHnSM6Vg=,tag:3THqepVBuC/XvyIu5M1KtA==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:1JnZCZz9z4F71FXXAzTFY0Vwj0A9YW3+mlFQBr1hwKMBe9f05wpU/tZIz8Q=,iv:zdUCrkiHHB3UW6QdcnYL6F5R1iH24zM0iPVdQDGYVAI=,tag:aI1nNOOuI3A/ti6m+DXujA==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:UoRmK+hxHSjR71xJ3ny3tw==,iv:TmBCTmF7CUergZi2lBkZ0EXPyMpBi9508ZPA8550oig=,tag:PlnTl1F/Ne1uNAb5ZHJuJQ==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBSSWtyaHVQTUwzcWQ4UUh1
            VUdXNTRFRVZXQml6NjhxbDJ0RTNsK1BnOVFVCnRQbTBnTUpiRmNyaEFUQkhVSVdw
            dWFHbWNnclVpWUVZeWkzaHJ4OHRObGsKLS0tIFdYRWxtZ1pzT0I2ZzByT1h5dDhz
            RkJRM1ZoZXdyUDN0WUhId1Q5dDh6ZjAKqLcceS/5RgFKFCtJW/RvAp+xfJ/ZWD0j
            e3g30IpO7fvaMsUEr87yGlqv3c4Ap/vKT7gfz1rsBQfQE128mszCBw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-23T18:19:47Z"
    mac: ENC[AES256_GCM,data:pD1X4rRdCBeDqs/qZFz03IhsHRurtqydYAkdBBpNsmfZ1o4cDTdDv/WxGcAfo5qzXC9pNx2ZUWI9LAaqy2U7hY7w+N2ny9SEG+i5ZRLnOIQYHlANTs3MrnhmKLYJapPYiCqDr06Xi7izZjUXQS4yK14QtTCfPSqyfVbMPr74Rso=,iv:eseT0QbjPvfKalqnHg68AIQExw5C9SR/YhHWNCUsr8E=,tag:ZLblTr87O1KPNr7mmqaTcA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
