apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: pod-gateway
spec:
    secretTemplates:
        - name: wireguard-config
          stringData:
            VPN_SERVICE_PROVIDER: ENC[AES256_GCM,data:ESco4yP0rg==,iv:IxxNpsrVMazkgtcAVIRnJR6KSAKG00Q+zoj+u8dShcQ=,tag:OPQcwKBiJgY2QdnbsvrQ9g==,type:str]
            SERVER_CITIES: ENC[AES256_GCM,data:clrd363J8hZ4mg==,iv:rcuiIG6RBjtYqImVD9gw5Fy1ZAExuoO82nLPhtT0DVM=,tag:5oaNceZuDnt1/Uz+jKH0Fg==,type:str]
            DEVICE_NAME: ENC[AES256_GCM,data:sHfu9A2RmAIa,iv:dEwaQ6R3zyYSSYKsST546w6EvckilwTIVRB1LSQ3VsA=,tag:4sljfZtBnsDx/TfMFpoeMQ==,type:str]
            WIREGUARD_PRIVATE_KEY: ENC[AES256_GCM,data:Rj+jEmSnA6EuhGsgDsx/1/ijhxfc1yefUC9za6nokvUlObvgtryatYFBLdE=,iv:NMNrNBW8NSjkt4m4zloNfQxir+oaXrt/PW4aAtgCFiU=,tag:+R6WGD5ifkuORbAX3UGjQA==,type:str]
            WIREGUARD_ADDRESSES: ENC[AES256_GCM,data:QtRn0nO4335alnFbo4wj,iv:8mgfhHQX7Us/gVrxR27NWVopulidbVNDRJ6wuAF0lgs=,tag:xSs/rJkmamL3jufFZL6dVQ==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBiMmJqa2lBaXRBNlRHQ0lD
            L1cwUkFaelFpL3pYRCtTek4yb2NNVGZ1c1drClhReHpBckhIdmtZbGEzVHorY0pO
            OU9vMWlEZGJRcFJ6aGFyWXYwbmR3bW8KLS0tIC9nOFAyZUM4SW9ySU90cTU0ZnJL
            QzM2U09vZVFYTktwaTVsT2MyOE9TZjAKopMs0NsBY3ZJFsIIa2Ijrvz3fjWfX7BQ
            s+5zFjavTTsr1OjfZeM4iBKsbKWxscO6BTyAwlahgJd+OuthH5FvFw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-23T17:59:40Z"
    mac: ENC[AES256_GCM,data:64OJMxn2Lw+mf4YvmXl/MvAGIxtLWU9xKFSroRCKq4Rm7vNcTBnOcE5KwDYyTmGfPxRIO/rb2lB1x32lJpRpCV8DJVip/VUkdOajWDiLLjJTbxYxgX3Ev/nxe5az1OJLbLpwHCgEbckxrN5QEG23kGfd2QYhYynoJqvEv4naDVs=,iv:s8XVWmbRe7yc3GBajB/comNWHxH/M6g3M8l0SuJcHiY=,tag:p8xB4FFc1/wpxXEiKcRCnw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
