---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app requestrr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      requestrr:
        type: statefulset
        containers:
          app:
            image:
              repository: docker.io/thomst08/requestrr
              tag: v2.1.9@sha256:81f07c1f99d46bbf3b926ee7a0cc8f4729f049bc37fb6bba8a5428042fc856df
            env:
              TZ: America/Chicago
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 4545
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          requestrr:
            app:
              - path: /root/config
