---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      bazarr:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.4@sha256:7ff11ddc4bec111ef8f4b58e95d1df8b980835f78c5087c0a95c6e74908a1d29
            env:
              TZ: America/Chicago
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      securityContext:
        # runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        # seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 6767
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      data:
        enabled: true
        existingClaim: nfs-data
