---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      plex:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              TZ: America/Chicago
              PLEX_ADVERTISE_URL: https://plex.${EXTERNAL_HOSTNAME}:443,http://${PLEX_IP_ADDRESS}:32400,http://plex.media.svc.cluster.local:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.0.0/24 #192.168.10.0/24
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 1Gi
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      resourceClaims:
        - name: gpu
          resourceClaimName: plex
      securityContext:
        # runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        # seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations: 
          metallb.io/loadBalancerIPs: ${PLEX_IP_ADDRESS}
        ports:
          http:
            port: &port 32400
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules: &rules
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - name: *app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - name: *app
                port: *port
      external:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${EXTERNAL_HOSTNAME}"
        rules: *rules
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      data:
        enabled: true
        existingClaim: nfs-data
        advancedMounts:
          plex:
            app:
              - path: /data/media
                subPath: media
