---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      mealie:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.7.0@sha256:bb2939094eed2f2b71458f2793c232d094c02507371107fe1068b79e6118c620
            env:
              TZ: America/Chicago
              BASE_URL: https://mealie.${INTERNAL_HOSTNAME}
              TOKEN_TIME: 720
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${node}
      securityContext:
        # runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
        # seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9000
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      data:
        suffix: data
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /app/data
      nltk:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /nltk_data
