---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
spec:
  chartRef:
    kind: OCIRepository
    name: snapshot-controller
  interval: 1h
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      image:
        repository: registry.k8s.io/sig-storage/snapshot-controller
        tag: v8.4.0@sha256:b845f4bbc34d70bd84e92f8021f47704df1de3dbabbd8289969651360b39d605
      replicaCount: 3
      args:
        leaderElection: true
        leaderElectionNamespace: "$(NAMESPACE)"
        httpEndpoint: ":8080"
        enableDistributedSnapshotting: true
    webhook:
      replicaCount: 3
    # serviceMonitor:
    #   create: true
    # volumeSnapshotClasses:
    #   - name: democratic-csi-local-hostpath
    #     driver: org.democratic-csi.local-hostpath
    #     annotations:
    #       snapshot.storage.kubernetes.io/is-default-class: "true"
    #     deletionPolicy: Delete
    #     parameters: {}
