---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      dispatcharr:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.18.1@sha256:425be855292df282db6f8daed0b3f0ac40a6dc451ddc66f7cbb299a4659e96da
            env:
              TZ: America/Chicago
              DISPATCHARR_LOG_LEVEL: info
              LIBVA_DRIVER_NAME: iHD
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                cpu: 2000m
                memory: 4Gi
          gcs:
            image:
              repository: jesmann/global-channel-search
              tag: 2.6.0
            command: ["/bin/sh", "-c", "sleep infinity"]
    defaultPodOptions:
      annotations:
        setGateway: "true"
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      resourceClaims:
        - name: gpu
          resourceClaimName: *app
      securityContext:
        supplementalGroups:
          - 44  # video
          - 109 # render
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9191
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
