---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shelfmark
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
    - name: nfs-server
      namespace: storage
  values:
    controllers:
      shelfmark:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.0.2@sha256:130252047eaf1e4fc813c73b3250e4b6f0f244f8d2de8d42bf5380bddca643b7
            # for non root
            command:
              - gunicorn
            args:
              # - --log-level=debug
              - --access-logfile=-
              - --error-logfile=-
              - --worker-class=geventwebsocket.gunicorn.workers.GeventWebSocketWorker
              - --workers=1
              - -t
              - "300"
              - -b
              - 0.0.0.0:8084
              - shelfmark.main:app
            env:
              TZ: America/Chicago
              # CALIBRE_WEB_URL:
              SEARCH_MODE: universal
              METADATA_PROVIDER: openlibrary
              INGEST_DIR: /data/media/books/import
              MAX_CONCURRENT_DOWNLOADS: 5
              OPENLIBRARY_ENABLED: true
              PROWLARR_ENABLED: true
              PROWLARR_URL: http://prowlarr:9696
              PROWLARR_INDEXERS: "" # all
              PROWLARR_AUTO_EXPAND: true
              PROWLARR_TORRENT_CLIENT: qbittorrent
              QBITTORRENT_URL: http://qbittorrent:8080
              QBITTORRENT_CATEGORY: books
            envFrom:
              - secretRef:
                  name: *app
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
            #   limits:
            #     memory: 512Mi
    defaultPodOptions:
      annotations:
        setGateway: "true"
      nodeSelector:
        kubernetes.io/hostname: ${NODE}
      securityContext:
        runAsNonRoot: true
        runAsUser: ${VOLSYNC_PUID}
        runAsGroup: ${VOLSYNC_PGID}
        fsGroup: ${VOLSYNC_PGID}
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8084
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      data:
        enabled: true
        existingClaim: nfs-data
      tmpfs:
        type: emptyDir
        sizeLimit: 1Gi
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /var/log
            subPath: var-log
