---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      dispatcharr:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.13.0@sha256:0798b03927e12ceef4a154c0dd28e044a3ca5196ecbe76c41cb45ff65d9163ce
            env:
              TZ: America/Chicago
              DISPATCHARR_LOG_LEVEL: info
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
              # limits:
              #   gpu.intel.com/i915: 1
              #   memory: 3Gi
          gcs:
            image:
              repository: jesmann/global-channel-search
              tag: 2.6.0
            command: ["/bin/sh", "-c", "sleep infinity"]
    defaultPodOptions:
      annotations:
        setGateway: "true"
      nodeSelector:
        kubernetes.io/hostname: ${node}
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9191
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - backendRefs:
            - name: *app
              port: *port
    persistence:
      config:
        suffix: config
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 5Gi
        globalMounts:
          - path: /data
