---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bar-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      bar-assistant:
        type: statefulset
        containers:
          api:
            image:
              repository: ghcr.io/karlomikus/barassistant
              tag: 5.13.1@sha256:ea29353c6f6c12d6e64b6db6a46cc4763532b954a2836a7c7f29b7cbcc3802aa
            env:
              TZ: America/Chicago
              APP_URL: &api-url "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/bar"
              MEILISEARCH_HOST: http://localhost:7700
              MEILISEARCH_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              REDIS_HOST: localhost
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              ALLOW_REGISTRATION: false
          cache:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.6.0@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
            command: redis-server
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 50Mi
          search:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.35.0@sha256:348ba1c1f61101130304370a9522cc5405e6906b64a426dc2fcd5c428a516a98
            env:
              MEILI_ENV: production
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              MEILI_NO_ANALYTICS: true
              MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE: true
        pod:
          nodeSelector:
            kubernetes.io/hostname: ${NODE}
      frontend:
        containers:
          salt-rim:
            image:
              repository: ghcr.io/karlomikus/salt-rim
              tag: 4.14.0@sha256:0092392882e5d5979262d95ff3c30aaeb4f512af4212a2e872dffdcec6dc6c12
            env:
              API_URL: *api-url
              MEILISEARCH_URL: "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/search"
    service:
      backend:
        controller: *app
        ports:
          api:
            port: &port 8080
          search:
            port: &search-port 7700
      frontend:
        controller: frontend
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - matches:
            - path:
                value: "/bar"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *port
          - matches:
            - path:
                value: "/search"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *search-port
          - backendRefs:
            - name: bar-assistant-frontend
              port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          bar-assistant:
            api:
              - path: /var/www/cocktails/storage/bar-assistant
      search:
        suffix: search
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            search:
              - path: /meili_data
