---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bar-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      bar-assistant:
        type: statefulset
        containers:
          api:
            image:
              repository: ghcr.io/karlomikus/barassistant
              tag: 5.9.0@sha256:6395cc9a9d9be56d54aba38915400a87df0a2d6a7ba425186c5f8cdb2931083e
            env:
              TZ: America/Chicago
              APP_URL: &api-url "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/bar"
              MEILISEARCH_HOST: http://localhost:7700
              MEILISEARCH_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              REDIS_HOST: localhost
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              ALLOW_REGISTRATION: false
          cache:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.2.3@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
            command: redis-server
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 50Mi
          search:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.23.0@sha256:bac1af7afd5a19b72ec57a660cbb09704926b75ad709ad514ed2f7cf01675256
            env:
              MEILI_ENV: production
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              MEILI_NO_ANALYTICS: true
              MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE: true
      frontend:
        containers:
          salt-rim:
            image:
              repository: ghcr.io/karlomikus/salt-rim
              tag: 4.9.0@sha256:cb700a988ba9c46c3b7ae15b2324d9c17c066587d63ad23dbb576ac7204c565a
            env:
              API_URL: *api-url
              MEILISEARCH_URL: "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/search"
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${node}
    service:
      backend:
        controller: *app
        ports:
          api:
            port: &port 8080
          search:
            port: &search-port 7700
      frontend:
        controller: frontend
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - matches:
            - path:
                value: "/bar"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *port
          - matches:
            - path:
                value: "/search"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *search-port
          - backendRefs:
            - name: bar-assistant-frontend
              port: *port
    persistence:
      data:
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            api:
              - path: /var/www/cocktails/storage/bar-assistant
      search:
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            search:
              - path: /meili_data
