---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bar-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      bar-assistant:
        type: statefulset
        containers:
          api:
            image:
              repository: ghcr.io/karlomikus/barassistant
              tag: 5.9.2@sha256:cef29f5f0e8c95d9b17a02412d4ef9c1ce3b632d5d208ceb9a8fc3e2072a933d
            env:
              TZ: America/Chicago
              APP_URL: &api-url "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/bar"
              MEILISEARCH_HOST: http://localhost:7700
              MEILISEARCH_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              REDIS_HOST: localhost
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              ALLOW_REGISTRATION: false
          cache:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
            command: redis-server
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 50Mi
          search:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.26.0@sha256:773759814f59214a0971dc8810ae1d85002e92166d99760cd546d5ee8ac37c14
            env:
              MEILI_ENV: production
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              MEILI_NO_ANALYTICS: true
              MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE: true
      frontend:
        containers:
          salt-rim:
            image:
              repository: ghcr.io/karlomikus/salt-rim
              tag: 4.10.0@sha256:da33fefe08b86776c3edd45a4d410c35559f11bcd34a6b4dcdcb0a7d4db44d97
            env:
              API_URL: *api-url
              MEILISEARCH_URL: "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/search"
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: ${node}
    service:
      backend:
        controller: *app
        ports:
          api:
            port: &port 8080
          search:
            port: &search-port 7700
      frontend:
        controller: frontend
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - matches:
            - path:
                value: "/bar"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *port
          - matches:
            - path:
                value: "/search"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *search-port
          - backendRefs:
            - name: bar-assistant-frontend
              port: *port
    persistence:
      data:
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            api:
              - path: /var/www/cocktails/storage/bar-assistant
      search:
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            search:
              - path: /meili_data
