---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bar-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: democratic-csi-local-hostpath
      namespace: storage
  values:
    controllers:
      bar-assistant:
        type: statefulset
        containers:
          api:
            image:
              repository: ghcr.io/karlomikus/barassistant
              tag: 5.12.0@sha256:8f80842ba68204331583bde2cda1eed9bcaf8adee748eac9b8a8d7f8c9e125ca
            env:
              TZ: America/Chicago
              APP_URL: &api-url "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/bar"
              MEILISEARCH_HOST: http://localhost:7700
              MEILISEARCH_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              REDIS_HOST: localhost
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              ALLOW_REGISTRATION: false
          cache:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.4.0@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7
            command: redis-server
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 50Mi
          search:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.34.3@sha256:82767d2afc4fb6c3e4ebadb134ca6ef5687c894ae9e152928619393b1f331681
            env:
              MEILI_ENV: production
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-config"
                    key: MEILISEARCH_KEY
              MEILI_NO_ANALYTICS: true
              MEILI_EXPERIMENTAL_DUMPLESS_UPGRADE: true
        pod:
          nodeSelector:
            kubernetes.io/hostname: ${NODE}
      frontend:
        containers:
          salt-rim:
            image:
              repository: ghcr.io/karlomikus/salt-rim
              tag: 4.13.0@sha256:29902e855153766216360e40f5c100169d9da57dd277644ca32da15be6cdcf38
            env:
              API_URL: *api-url
              MEILISEARCH_URL: "https://{{ .Release.Name }}.${INTERNAL_HOSTNAME}/search"
    service:
      backend:
        controller: *app
        ports:
          api:
            port: &port 8080
          search:
            port: &search-port 7700
      frontend:
        controller: frontend
        ports:
          http:
            port: *port
    route:
      internal:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_HOSTNAME}"
        rules:
          - matches:
            - path:
                value: "/bar"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *port
          - matches:
            - path:
                value: "/search"
            filters:
            - type: URLRewrite
              urlRewrite:
                path:
                  type: ReplacePrefixMatch
                  replacePrefixMatch: "/"
            backendRefs:
            - name: bar-assistant-backend
              port: *search-port
          - backendRefs:
            - name: bar-assistant-frontend
              port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          bar-assistant:
            api:
              - path: /var/www/cocktails/storage/bar-assistant
      search:
        suffix: search
        enabled: true
        retain: true
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          bar-assistant:
            search:
              - path: /meili_data
