apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
    name: bar-assistant
spec:
    secretTemplates:
        - name: restic-bar-assistant
          stringData:
            RESTIC_REPOSITORY: ENC[AES256_GCM,data:Qn3x7+JPC0crOH7GOudfGWGhcMyg9e/cMCT1t3sU8EgekqxRjedibNjJWOqaKPn3KZbjK6i97qO6SOsfWj05X0e0,iv:94AaZGzqel8TGv8G9dXkQPKm1zp5r+CNl0Wu8AeHpEw=,tag:O1lHYYzy3J6+eExSZ8aAIQ==,type:str]
            RESTIC_PASSWORD: ENC[AES256_GCM,data:k+ZSArKfcJlr2/17fhLF7VT2byA=,iv:b0thsaNmpSq0Evct1C7juxOqJN9iwAYjpazeozeLL4s=,tag:niuLOqc8VaTOTRn1U0qs6g==,type:str]
            AWS_ACCESS_KEY_ID: ENC[AES256_GCM,data:H7ochIYKPz4qD7xj9clKXbSVzHI=,iv:RSFxmR9ndAkT6fVb6AoBBGJv7zvp9oFwznf/zzURZzc=,tag:7pJnZgApZUeVGuyCSB5nzg==,type:str]
            AWS_SECRET_ACCESS_KEY: ENC[AES256_GCM,data:fmG2NE9N6FFumeOXJwFFDkNft0s+vTxZaNEKA6MgAdvcxETf,iv:G5Gx7oSsH7A1uFhs9yyX9A9VpMG9ub9wl21cP0K3L6I=,tag:Dm6RexrJPgSlWyvKeFlOFw==,type:str]
        - name: bar-assistant-config
          stringData:
            MEILISEARCH_KEY: ENC[AES256_GCM,data:FDILGb6chdtUCymgrFTGC/C0VFTwhp/WGQ==,iv:wv27ZjfNoo2D4epOyQklKm9a8zlrxVMM5DmPkRIQCug=,tag:YmfcgeX9XVU/9SH0XAeSJg==,type:str]
sops:
    age:
        - recipient: age1a7ud8ygel5wxlem8p9ukahjmnsg42qk6z94033hav62ke2u74pvqgf9vts
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA2TTEvMWxhQi9SZGZaUWpq
            RGRCMnQydVl2MDBCOFVmQ3oxdjdlT2Z3V2gwCjN0UE14Qk9GeXNaWDhjL05UOUNE
            QmFvdmNHUUNPR3RUdGNtOTBaY1Y4WEEKLS0tIENNUks0RTZQZXV5K2NWRW1BZTFn
            c1VjWXlnb0Fna0JhQktiMGJmMUZUdWcKoWSUgDb7z+JiSTv67dnBvBKkUWEyDbqa
            L7xLxjBRSWmN1D4KvrzuitP9N5J6uPLXnIvFSGsRhNf3AySP2hbfew==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-23T07:33:38Z"
    mac: ENC[AES256_GCM,data:O2Trd0YqTrW+xyDdgcpOtNSvu1J4IzhGeAI741QOAVQHjgH7jv5PajfZjebwpMa1E7de6JoCzGa6y7HoG/kxmejoRtluE1bUu98BTt9HQC8O4dUkeMq1JHtr1TaKKx/9Wdmu3J3T7WR5a88ZSZOfcle9duj2QxXwwIPRvKABQaA=,iv:gNmeqWQwb8eOACuUCeIyViAqnW3DHDqB/EnEmNXBBsk=,tag:rrCoVfKb1SskBSR+QJu5nQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
