name: Build Flake

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/build.yaml"
      - "flake.nix"
      - "flake.lock"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build.yaml"
      - "flake.nix"
      - "flake.lock"

jobs:
  build-default:
    name: Build Default Devshell
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-15
            system: aarch64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - run: nix build .#devShells.${{ matrix.system }}.default

  build-ci:
    name: Build CI Devshell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - run: nix build .#devShells.x86_64-linux.ci
