name: Build Flake

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/build.yaml"
      - "flake.nix"
      - "flake.lock"
  push:
    paths:
      - ".github/workflows/build.yaml"
      - "flake.nix"
      - "flake.lock"

jobs:
  build-default:
    name: Build Default Devshell
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-15
            system: aarch64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - run: nix build .#devShells.${{ matrix.system }}.default

  build-ci:
    name: Build CI Devshell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - run: nix build .#devShells.x86_64-linux.ci
