name: "Kairos Update"

on:
  workflow_dispatch:
  schedule:
   - cron: "22 9 * * 0"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/kairos-update.yaml"

jobs:
  karios-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.CPR_APP_ID }}
          private-key: ${{ secrets.CPR_APP_PRIVATE_KEY }}

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - id: update
        run: nix develop .#ci --command task kubernetes:ci-kairos-update

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update kairos version
          title: 'Update kairos version'
          draft: false
          branch: chore/update-kairos
          delete-branch: true
          body: |
            Update kairos version
            - [openSUSE][os]
            - [Kairos][kairos]
            - [k3s][k3s]
            
            
            Auto-generated by [create-pull-request][cpr]

            [cpr]: https://github.com/peter-evans/create-pull-request
            [os]: ${{ steps.update.outputs.opensuse_url }}
            [kairos]: ${{ steps.update.outputs.kairos_url }}
            [k3s]: ${{ steps.update.outputs.k3s_url }}
